<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/javascripts/chatV2.js" defer></script>
</head>
<body>
    <ul id="messages"></ul>
    <form id="form">
        <input id="username" placeholder="Tu nombre">
        <input id="input" placeholder="Escribe un mensaje">
        <button>Send</button>
    </form>
</body>
</html>